/* untuk hyperlink tanpa warna biru dan underline */
.link-without-underline {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* untuk logo di navbar */
.navbar-brand-logo {
  max-height: 50px;
}
