.link-without-underline {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.navbar-brand-logo {
  max-height: 50px; /* Adjust the max-height as per your design */
  /* You can also use width: auto; to maintain aspect ratio */
}

.calculator {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="number"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.result {
  margin-top: 20px;
}

#monthly-payment {
  color: #333;
  font-weight: bold;
}
