.card {
  transition: 0.5s;
}
.card:hover {
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.img-service:hover {
  width: 50%;
  height: auto;
}

.no-scroll {
  overflow-x: hidden;
}

.img-product {
  width: 75%;
  transition: 0.5s;
}

.img-product:hover {
  width: 85%;
}

.text-bold {
  font-weight: bold;
}

.link-without-underline {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.navbar-brand-logo {
  max-height: 50px; /* Adjust the max-height as per your design */
  /* You can also use width: auto; to maintain aspect ratio */
}
